@model IdentityFromScratch.Models.Watch
@using IdentityFromScratch.Controllers

<h1><font color="red">Denied</font>, You are logged in as @User.Identity.Name</h1>
<h3>You are only Authorized to access resources with @User.Identity.Name</h3>