@{
    ViewData["Title"] = "Home Page";
}
<div class="image" style=" float: left">
    <img src="~/MEX.jpg", alt="mex logo"/>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome to <br /> <span class="text-primary" style="font-size: 2em;font-weight: bolder;">MEX MOVIES</span></h1>
    <p style="font-style: italic"> Home of Entertainment</p>
</div>
