@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />

<h5>At <span class="text-warning" style="font-weight: bolder">Mex Movies </span>We take Privacy and Security seriously. </h5>
<h5>Data We gather</h5>
<p>Information you have provided us with</p>
<p>This might be your e-mail address, name, billing address, home address etc – mainly information that is <br />necessary for delivering you a product/service or to enhance your customer experience with us. We save <br /> the information you provide us with in order for you to comment or perform other activities on the website.<br /> This information includes, for example, your name and e-mail address.</p>

<h5>How we use your Personal Data</h5>
<p>We use your Personal Data on legitimate grounds and/or with your Consent.</p>