
@{
    ViewData["Title"] = "Watching";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IdentityFromScratch.Models.Movies

<h1>Watching</h1>

<h1 class="p-3 mb-2 bg-info text-dark">You are now enjoying, @Model.Title!</h1>

