@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>This page is used to test various security settings</h1>

<a asp-action="RequireAuthenticated">Require any authenticated user</a><br />
<a asp-action="RequireManager">Require Manager</a><br />
<a asp-action="RequireSuper">Require Super role</a><br />
<a asp-action="RequireAdmin">Require Admin Role</a><br />
<a asp-action="RequireCarol">Require Carol</a><br />
<a asp-action="RequireBrian">Require Brian</a><br />
<a asp-action="Require18">Require 18</a><br />
<a asp-action="Require21">Require 21</a><br />
<a asp-action="Require55">Require 55</a><br />
<a asp-action="RequireFL">Require FL</a><br />
<a asp-action="RequireGA">Require GA</a><br />


